a {
  text-decoration: none;
  color:  whitesmoke;;
}
.Topnav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 9%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #04151f;
  z-index: 100;
}
.Topnav .brand {
  font-size: 30px;
  font-weight: 700;
}
.Topnav ul {
  display: flex;
}
.Topnav ul li {
  list-style: none;
  margin-left: 35px;
}
.Topnav ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: .5s;
}
.Topnav ul li:hover a {
  color: #c44900;
}
.Topnav ul li.active a {
  color: #c44900;
}